.main-text{
    margin-top: -6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.phone{
    margin-top: -13rem;
}

.app-text{
    margin-top: -13rem;
}